        /* css reset */
        body {
            font-family: 'Righteous', cursive;
            color: white;
            margin: 0px;
            padding: 0px;
            background: url(img/bg1.jpg);
            background-size: cover;
            background-repeat:no-repeat;
        }

        .left {
            display: inline-block;
            /* border: 2px solid red; */
            position: absolute;
            left: 60px;
            top: 20px;

        }

        .left img {
            width: 89px;
            filter: invert(100%);
        }

        .left div {
            text-align: center;
            font-size: 14px;
            line-height: 7px;
        }

        .mid {
            display: block;
            width: 50%;
            margin: 20px auto;
            /* border: 2px solid yellow; */
        }

        .navbar {
            display: inline-block;
        }

        .navbar li {
            display: inline-block;
            font-size: 22px;
        }

        .navbar li a {
            color: white;
            text-decoration: none;
            padding: 34px 23px;
        }

        .navbar li a:hover,
        .navbar li a.active {
            text-decoration: underline;
            color: grey;
        }

        .right {
            position: absolute;
            right: 34px;
            top: 20px;
            display: inline-block;
            /* border: 2px solid green; */
        }

        .btn {
            margin: 0px 9px;
            color: white;
            background-color: black;
            padding: 4px 14px;
            border: 2px solid grey;
            border-radius: 10px;
            font-size: 14px;
            cursor: pointer;
            font-family: 'Righteous', cursive;
        }

        .btn:hover {
            background-color: rgb(45, 36, 36);
        }

        .container {
            border: 2px solid white;
            margin: 75px 75px;
            padding: 70px;
            width: 33%;
            border-radius: 28px;
            text-align: center;
        }

        .form-group input {
            text-align: center;
            display: block;
            width: 411px;
            padding: 6px;
            border: 2px solid black;
            margin: 5px auto;
            font-size: 18px;
            border-radius: 12px;
            font-family: 'Righteous', cursive;
        }

        .container button {
            width: 428px;
            display: block;
            margin: 14px auto;
        }
